.lorem {
    position: relative;
    align-self: center;
    background-color: #a8a7a7;
    min-width: 70%;
    height: 300px;
    border: 1em;
    border-radius: 5px;
    border-color: black;
    margin: 10em;
    padding: 1em;
    text-align: start;
    white-space: pre-wrap;
}


.scroll {
    overflow: scroll;
}

#copyToClipboard {
    position: absolute;
    right: 0;
    top: 0;
}